<h1>Ruby Course rank</h1>

<table>

  <thead>
    <tr>
      <th>Milestones</th>
      <% @milestones.each do |milestone| %>
          <th colspan=<%= milestone.tasks.size %>><%= milestone.title %></th>
      <% end %>
    </tr>
    <tr>
      <th>Tasks</th>
      <% @tasks.each do |task| %>
        <th><%= task.title %></th>
      <% end %>
    </tr>
  </thead>

  <tbody>
    <% @students.each do |student| %>
    <tr>
      <td><%= student.github_login %></td>
      <% @tasks.each do |task| %>
          <% student_task = student.student_tasks.find { |st| st.task == task } %>
          <td>
            <%= student_task.nil? ? "-" : student_task.state %>
          </td>
      <% end %>
    <% end %>
  </tbody>

</table>