<!DOCTYPE html>
<html>
<head>
  <title>Rubycourse</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="header">
  <span class="left">Ruby Course Rank</span>
  <span class="right">
    <% if current_user %>
        <%= "Logged in as #{current_user.login} | " %>
        <%= link_to "Sign out", "/signout" %>
    <% else %>
        <%= link_to "Sign in with Github", "/auth/github" %>
    <% end %>
  </span>
</div>

<div id="main">
    <%= yield %>
</div>

<div id="footer">
  <span class="left">
    The rank refresh is triggered manually by course admin - some task states may not be up to date.
  </span>
</div>

</body>
</html>
